Import Libraries

In [2]:
import numpy as np
import pandas as pd

Load Dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv', encoding='latin-1')
df.head()

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

Summarize Dataset

In [13]:
df.head

<bound method NDFrame.head of        Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]>

In [5]:
df.shape

(144, 2)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Month       144 non-null    object
 1   Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

In [7]:
df.isnull().sum()

Month         0
Passengers    0
dtype: int64

In [8]:
df.tail()

       Month  Passengers
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

In [9]:
df.size

288

In [10]:
df.columns

Index(['Month', 'Passengers'], dtype='object')

In [11]:
df.describe()

       Passengers
count  144.000000
mean   280.298611
std    119.966317
min    104.000000
25%    180.000000
50%    265.500000
75%    360.500000
max    622.000000

Sorted by number of Passengers

In [12]:
df.sort_values(["Passengers"], ascending=False).head(10)

       Month  Passengers
138  1960-07         622
139  1960-08         606
127  1959-08         559
126  1959-07         548
137  1960-06         535
140  1960-09         508
115  1958-08         505
114  1958-07         491
136  1960-05         472
125  1959-06         472

Sorted by month

In [14]:
df.sort_values(["Month"], ascending=False).head(10)

       Month  Passengers
143  1960-12         432
142  1960-11         390
141  1960-10         461
140  1960-09         508
139  1960-08         606
138  1960-07         622
137  1960-06         535
136  1960-05         472
135  1960-04         461
134  1960-03         419